<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rutvik.bhagwatiholidays">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="com.rutvik.trails.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rutvik.trails.permission.C2D_MESSAGE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/bh_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_jobYwEC4RDj7qiGLV32VjhfiuuomI8ua" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <!-- Facebook -->
        <activity android:name="com.facebook.FacebookActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider658868440928736"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>


        <activity android:name=".initial" />
        <activity
            android:name=".SwipeTabActivity"
            android:label="Bhagwati Holidays"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".OffersActivity"
            android:label="Offers"
            android:launchMode="singleTask">

            <intent-filter>
                <data android:scheme="combhagwatiholidays" android:host="open"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

            </intent-filter>

        </activity>



        <activity
            android:name=".BusActivity"
            android:label="Bus" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".HolidayFormActivity" />
        <activity android:name=".ItineraryListActivity" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />

                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service
            android:name="gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="gcm.RegistrationIntentService"
            android:enabled="true" />

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SingleOfferViewActivity" />


    </application>

</manifest>
